.container {
  padding: 4rem;
}
.heading{
  color: #2f2f2f;
}
.line {
  display: flex;
  justify-content: space-between;

  label {
    font-size: 1.2rem;
    padding-right: 1rem;
    font-weight: 400;
    color: #2f2f2f;
  }
  select,
  input {
    width: 10rem;
    padding: 5px;
  }
}
.suggestion {
  width: 100%;
}
.score-box {
  display: flex;
}
.rating-section {
  background-color: #000e50;
  color: #fff;
  padding: 2rem;
}
.feedback-section {
  padding-top: 2rem;

  label {
    font-size: 1.2rem;
    font-weight: 300;
  }
}
.action-footer {
  padding: 2rem;
  background: #000e50;
  color: #fff;

  .actions {
    display: flex;
    justify-content: space-around;
    button {
      padding: 0.5rem;
      border: solid 1px #fff;
      border-radius: 20px;
      color: #fff;
      background: transparent;

      &:hover{
        background-color: #fff;
        color: #000e50;
      }

      &:disabled{
        opacity: 0.3;
      }
    }
  }
}
.head-control{
  display: flex;
  justify-content: space-between;
  width: 30rem;
}

input[type='range']{
  width: 80%;
}
