<div class="container login-container">
  <form class="login">
    <div class="field">
      <label for="" class="reset-pwd-label">Email Id:</label>
      <br>
      <input type="email" class="reset-pwd-input" name="emailId" [(ngModel)]="email">
    </div>
    <button (click)="sendEmail()">Send Reset Link</button>
    <div class="field">
      <label for="" class="reset-pwd-label">OTP:</label>
      <br>
      <input type="number" class="reset-pwd-input" name="otp" [(ngModel)]="newOtp">
      <span *ngIf="isInvalidOTP">OTP Invalid!! try again</span>
      <span *ngIf="!isInvalidOTP">OTP authentication Successfull</span>
    </div>
    <button (click)="validateOTP()">Validate</button>
    <div class="field">
      <label for="" class="reset-pwd-label">New Password</label>
      <br>
      <input type="password" class="reset-pwd-input" name="pwds" [(ngModel)]="password">
    </div>
    <div class="login-actions text-center">
    <button class="btn login-btn" type="submit" (click)="resetPassword()">Reset Password</button>
    </div>
  </form>
</div>
