<div class="container login-container">
  <form class="login">
    <div class="field">
      <label for="" class="reset-pwd-label">Email Id:</label>
      <br>
      <input type="email" class="reset-pwd-input">
    </div>
    <button (click)="sendEmail()">Send Reset Link</button>
    <div class="field">
      <label for="" class="reset-pwd-label">OTP:</label>
      <br>
      <input type="number" class="reset-pwd-input">
    </div>
    <button (click)="validateOTP()">Validate</button>
    <div class="field">
      <label for="" class="reset-pwd-label">New Password</label>
      <br>
      <input type="password" class="reset-pwd-input">
    </div>
    <div class="login-actions text-center">
    <button class="btn login-btn" type="submit">Reset Password</button>
    </div>
  </form>
</div>
