
@import '../../styles.scss';

.login-container{
  background-image: linear-gradient(to bottom right,#ff5fa0,#fcb5f8,#39f5de);
  margin-top: 2rem;
  width: 600px;

  .login{
    padding: 2rem;


    .field{
      color: $white;
      margin-bottom: 1.5rem;
      font-weight: 400;

      .login-label{
        margin-bottom: 0.5rem;
      }
      .login-input{
    border: none;
    outline: none;
    width: 100%;
      }
    }
  }
  .login-btn{
    background-color: $primary;
    color: #fff;
  }

}
